In [1]:
a = 10
b = 25.0

sum = a+b
print(sum)

diff = b-a
print(diff)

35.0
15.0

In [2]:
x = float(a)
print(x)

10.0

In [3]:
print(type(a))
print(type(b))
print(type(x))

<class 'int'>
<class 'float'>
<class 'float'>

In [4]:
print(5%2.0)
print(2//5)
print(abs(-10))

1.0
0
10

In [5]:
print(2**3)
print(3**2)

8
9

In [6]:
_var23=68
# 23var=86      error
var23=76
# var 23 = 85       error

In [7]:
c = 'shashwat'
d = "shashwat"

print(type(c))
print(type(d))

<class 'str'>
<class 'str'>

In [8]:
# a = 'Hello Welcome to all student's in VIT'    error
a = 'Hello Welcome to all student\'s in VIT'

In [9]:
e = 'Shashwat'
f = 'Pattanayak'
g = e +" " + f
print(g)

Shashwat Pattanayak

In [10]:
h = ['a', 'b', 'c', 'd']
print(h)

['a', 'b', 'c', 'd']

In [11]:
# How many types of datatypes are there in python

In [12]:
i = [1, 'shashwat', 2.3, 2.3332212]

In [13]:
print(type(i))

<class 'list'>

In [14]:
i[2]
i[-1]

2.3332212

In [15]:
i.append("VIT")

In [16]:
i.insert(0,2.0)

In [17]:
print(i)
i.remove("VIT")
i.remove(2.0)
print(i)

[2.0, 1, 'shashwat', 2.3, 2.3332212, 'VIT']
[1, 'shashwat', 2.3, 2.3332212]

In [25]:
print(i[0:2:1])

[1, 'shashwat']

In [19]:
aset = {1,2,3,4}
print(type(aset))

<class 'set'>

In [20]:
aset = {1,4,2,8,3}
print(aset)

{1, 2, 3, 4, 8}

In [1]:
#sets are ordered
#sets are mutable

In [5]:
atuple = (1,2,1,2,3.0)
print(atuple)

(1, 2, 1, 2, 3.0)

In [6]:
# tuples are unordered and immutable

In [8]:
adic = {1:"one", 2:"two", 3:"three", 4:"four"}
print(adic)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [9]:
# dictionary is mutable